.page__id-verification {
  .verification-panel {
    .card {
      border-top: solid 4px theme-color('warning');
    }
    .image-preview {
      margin-bottom: 1rem;;
      max-width: 20rem;
      img {
        display: block;
        max-width: 100%;
        max-height: 10rem;
      }
    }
  }
  .action-row {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    .btn-primary {
      min-width: 8rem;
      margin-left: 1rem;
    }
    .btn-link {
      padding-left: 0;
      padding-right: 0;
      text-decoration: underline;
      align-self: center;
    }
  }
}